.search-box {
    align-content: center;
    padding: 5px;
}

ul {
  list-style-type: none;
}

button {
    height: auto;
    width: auto;
}

/* .fiveDay {
    padding: 100px;
} */

.citySearch {
    display: inline-flex;
    height: 60px;
}